*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
.login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    color: white;
    font-weight: 600;
    line-height: 20px;
}
